// Single Items page
.tainacan-items-single-page {
    --tainacan-secondary: #eb4200;
    --tainacan-primary: #ffefbc;
    --tainacan-font-family: Montserrat,sans-serif;

    .vc_separator {
        height: 2px;
        width: 20%;
        background-color: #eb4200;
        margin: 25px 0 2em;
    }
    hr {
        height: 1px;
        border-top: 1px solid #ebebeb;
        color: transparent;
    }
    .mkdf-blog-holder.mkdf-blog-single article .mkdf-post-content {
        box-shadow: none;

        .tainacan-single-item--columns {
            padding: 0;
            display: flex;

            .tainacan-single-item--column-1 {
                flex-basis: 55%;
                max-width: 55%;
                flex-grow: 1;
                flex-shrink: 0;
            }
            .tainacan-single-item--column-2 {
                flex-basis: 45%;
                max-width: 45%;
                flex-grow: 1;
                flex-shrink: 0;
            }

            @media screen and (max-width: 1024px) {
                flex-wrap: wrap;

                .tainacan-single-item--column-1,
                .tainacan-single-item--column-2 {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: normal;
    }
    h2.tainacan-single-item-section {
        font-size: 1.25em;
        margin-bottom: 0.5em;
    }
    h3.tainacan-metadata-label {
        font-size: 1.125em;
        margin-bottom: 0.5em;
    }
    .tainacan-compound-metadatum h4.label,
    .tainacan-relationship-metadatum-header h4.label {
        font-size: 1em;
        margin-bottom: 0.35em;
    }
    .tainacan-metadatum h5.label {
        font-size: 0.875em;
        margin-top: 0.35em;
        margin-bottom: 0.25em;
    }
    .tainacan-metadata-value {
        margin-bottom: 1.5em;
    }

    .hierarchy-separator,
    .multivalue-separator {
        opacity: 0.6;
    }

    .tainacan-item-section__metadata {
        column-width: 480px;

        & p:empty {
            display: none;
            margin: none;
        }
        &>* {
            break-inside: avoid;
        }
    }

    // Tainacan Media Component (attachments gallery)
    .tainacan-media-component {
        --swiper-theme-color: #eb4200;
        --swiper-navigation-color: #eb4200;
        --tainacan-media-thumbs-carousel-item-size: 75px;
    }
}